**/__pycache__
**/.pytest_cache
**/*.pyc
**/*.pyo
**/*.pyd
.git
.gitignore
.dockerignore
README.md
**/*.md
venv
api_key-generate.ipynb
test.ipynb
result.csv
interface.csv
batch_info.csv
.envxxx.txt
CORNINSPEC-PREDICT.code-workspace
main_backup.md